body {
  @include dark() {
    background-color: theme("colors.green.950");
  }
}

.app {
  min-height: 100vh;
  height: 100%;
  position: relative;

  .app__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("~assets/svg/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
